.env
dist/
gemini-proxy
node_modules
*.wasm
.wrangler/
*.folder
*.har
*.proxymanlogv2
build/
sh.d.gemini-code-assist-oauth-proxy.plist
/gemini-code-assist-oauth-proxy
npm/gemini-code-assist-oauth-proxy
npm/gemini-code-assist-oauth-proxy.exe
.gocache
